/** @author: A user#8169 */

.headerText-2z4IhQ {
    display: inline-flex;
}

.headerText-2z4IhQ span:first-child:not(.username-h_Y3Us) {
    order: 1;
    margin-left: 8px;
}

.headerText-2z4IhQ span .roleDot-PzIfeF {
    margin: 0;
}

.headerText-2z4IhQ.hasRoleIcon-1Usc6e span:last-child {
    order: 2;
    margin-left: 4px;
}
